{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<H1>Hi {{ user.username }}</H1>
{% if stacks %}
    {% for stack in stacks %}
    <a href="{% url 'stack' stack.id stack.slug %}"><p>{{ stack.title }}</p></a>
    <p>{{ stack.description }}</p>
    {% if stack.id in joined_stacks_ids %}
    <span>Joined</span>
    <form method="post" action="{% url 'leave_stack' stack.id %}">
        {% csrf_token %}
        <button type="submit">Leave Stack</button>
    </form>
    {% else %}
    <span>Not Joined</span>
    
    <form method="post" action="{% url 'join_stack' stack.id %}">
        {% csrf_token %}
        <button type="submit">Join Stack</button>
    </form>
    {% endif %}
    {% endfor %}
{% else %}
    <p>No available stacks, create one!</p>
{% endif %}
<form method="get" action="{% url 'create_stack' %}">
    {% csrf_token %}
    <button type="submit">Create Stack</button>
</form>
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Log Out</button>
</form>
{% else %}
<h1>You aren't logged in</h1>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}